h2 {
font-size: 22px;
margin: -15px 0px 0px 120px;
}
h1{
 font-size: 60px; 
 margin:0px 0px 0px 120px;  
}
img{
  width: 100px;  
position:absolute;
top:10px;
left:0px;
}
header {
    position:relative;
}